* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.header {
  height: auto; }
  .header-titulo {
    color: #58a9eb;
    text-shadow: 0 0 5px #000; }

.navbar {
  background-color: grey; }

.nav-link {
  color: white; }

.nav-link:hover {
  color: #58a9eb; }

.navbar-toggler-icon {
  box-shadow: 0 0 5px #58a9eb; }

h1 {
  text-align: center;
  font-weight: bolder;
  color: black; }

h2 {
  font-weight: bold;
  text-align: left;
  color: rgba(11, 11, 12, 0.886); }

h3 {
  text-align: center; }

h4 {
  text-align: center; }

a {
  margin: 10px; }

p {
  text-align: center; }

#boton {
  background-color: black;
  color: white;
  padding: 20px; }

footer {
  background-color: black;
  height: auto;
  color: white; }
