* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    background-color: rgb(228, 218, 200);
}

header {
    height: 250px;
    background-color: lightblue;
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-weight: bolder;
}

h2 {
    font-weight: bold;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

form {
     background-color: rgb(89, 144, 180);
     width: 450px;
     margin: auto;
     padding: 10px 20px;
     box-sizing: border-box;
     margin-top: 70px;
     border-radius: 10px;
     margin-bottom: 70px;
}

.texto-form {
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}

footer {
    
    background-color: rgb(177, 172, 172);
    max-width: 100%;
    height: auto;
}

a {
    margin: 10px;
}

img {
    margin-top: 55px;
    
}