* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(230, 212, 212);
}

header {
    height: 250px;
    background-color: powderblue;
    max-width: 100%;
    height: auto;
}

.btn {
    background-color: gold;
    border-radius: 18px;
    padding: 10px 16px;
    text-decoration: none;
    color: black;
}

form {
     background-color: rgb(89, 144, 180);
     width: 450px;
     margin: auto;
     padding: 10px 20px;
     box-sizing: border-box;
     margin-top: 70px;
     border-radius: 10px;
     margin-bottom: 70px;
}

.texto-form {
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}

#boton {
    background-color: black;
    color: white;
    padding: 20px;
}

