.navbar {
    background-color: grey;
}

.nav-link {
    color: white;
    
}

.nav-link:hover {
    color: rgb(70, 152, 218);
}

.navbar-toggler-icon {
    box-shadow: 0 0 5px rgb(71, 167, 231);
    
}