h1 {
    text-align: center;
    font-weight: bolder;
    color: $fuentes;
}

h2 {
    font-weight: bold;
    text-align: left;
    color: rgba(11, 11, 12, 0.886);
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

a {
    margin: 10px;
}